services:
  web-traffic:
    container_name: web-traffic
    build:
      context: ./cloudflare-traffic
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3001:3001" # 修改處：Host:Container 都改為 3001
    environment:
      - NUXT_HOST=0.0.0.0
      - NUXT_PORT=3001 # 修改處
